header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #574BCD, #2999AD, #41E975);
}

.wheit {
    background-color: #fff;
}

p {
    color: rgb(255, 255, 255);
}
.text1 {
    width: 80%;
    height: 30%;
    margin-top: 8%;
    margin-left: -40%;
}
.text {
    width: 80%;
    height: 30%;
    margin-top: 8%;
    margin-left: 3%;
}
h1 {
    margin-top: 3%;
    color: rgb(253, 242, 242);
}

/* button {
    height: 50px;
    width: 50px;
    margin-left: 50px;
} */

.profile {
    width: 25px;
    height: 30px;
    text-align: right;
}

.baseimg1 {
    width: 500px;
    height: 350px;
    margin-top: 8%;
    margin-left: 2%;
    border-radius: 3%;
    background-attachment: fixed;
    background-clip: border-box;
}
.baseimg {
    width: 500px;
    height: 350px;
    margin-top: 8%;
    margin-left: -5%;
    border-radius: 3%;
    background-attachment: fixed;
    background-clip: border-box;
}

p2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.box1 {
    height: 100px;
    width: 100px;
}  
footer {
  height: 25px;
}








  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}







  











* {box-sizing: border-box}

  input[type=text1], input[type=password1] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text1]:focus, input[type=password1]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button1 {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button1:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn1 {
  padding: 14px 20px;
  background-color: #f44336;
}
.signupbtn1{
  background-color: #4CAF50;
  width: 100%;
  height: 52px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn1, .signupbtn1 {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container1 {
  padding: 16px;
}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr1 {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close1 {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close1:hover,
.close1:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix1::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn1, .signupbtn1 {
    width: 100%;
  }
}